.masonry-grid {
  display: flex;
  width: auto;
  margin-left: -16px;
}

.masonry-grid_column {
  padding-left: 16px;
  background-clip: padding-box;
}

.masonry-grid_column > div {
  margin-bottom: 16px;
}